.header{
	text-align: center;
	font-size: 32px;
}

#imageWrapper{
	margin: 10px;
 	background: rgba( 229, 214, 243, 0.3)
}

#firstThree{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}

#secondFour{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}

#lastThree{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}